body {
    background: #F84B2F;
    background: linear-gradient(to right, #F84B2F, #f67764);
}

.card-img-left {
    width: 45%;
    background: scroll center url("{{asset('Blog/image/register.jfif')}}");
    background-size: cover;
}

.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
}