#big_main {
    display: flex;
    background-color: #F2F4F6;
    padding-top: 10px;
}

#left_main,
#right_main {
    width: 25%;
    height: 90vh;
}

#middle_main {
    width: 50%;
    height: calc(100vh - 10px);
    overflow: hidden;
    overflow-y: scroll;
    background-color: white;
}

#middle_main::-webkit-scrollbar {
    display: none;
}

rte-floatpanel {
    display: none !important;
}

.modal.fade {
    background-color: transparent !important;
}